<<<<<<< HEAD
  
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>You Must <a href="/">Log In</a> to View Your Balance</h1>

  </body>
=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>You Must <a href="/">Log In</a> to View Your Balance</h1>

  </body>
>>>>>>> 2f2113ed2a85c8e807d4f2d6c7710509bdc4d647
</html>